[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"

[packages]
responder = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
